{% extends 'layout.html' %}

{% block content %}

{% load static %}

<h1 class="text-center">Bienvendio a la Libreria Anime</h1>
<p class="text-center">
    Aquí hablare sobre los componentes de este CRUD que hice.
    Primero, elegi el tema de anime porque soy un gran fan de ello y por esa razon
    decidí crear esta "libreria" para registrar y ver.
    En la parte de código, estoy usando una libreria de python llamada django e inicie el proyecto
    con el comando "django-admin startproject" y despues, creé una app llamada "libreria_anime" donde
    se almacenaran los datos como, url, views, modelos, templates, forms, etc. Este CRUD lo hice a la mano
    con la ayuda de la base de datos PostgreSQL (psycopg2) para si manjar de manera facil los datos y guardarlos.
    Tambien he usado bootstrap para que la interfaz sea mas "bonita".
    Para ver la "libreria" o mejor dicho, el CRUD puedes ir y undir al boton de aparte de arruba que dice "libreria".
</p>
{% endblock %}