<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

{% extends "layout.html" %}


{% block content %}

<h1 class="text-center">Información sobre mí</h1>
<p class="text-center">
    Por el momento soy un Back-end developer junior que esta iniciando en dicha área.
    Cuento con conocimientos y manejo en Python, Django, SQL, PostgreSQL, HTML y CSS.
</p>
{% endblock %}
</body>
</html>