<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

{% extends 'layout.html' %}

{% block content %}

<h1 class="text-center">Register</h1>

<div class="card-container">
    <div class="card-header" style="background: linear-gradient(337deg, rgba(34,168,147,1) 25%, rgba(0,0,0,1) 69%);">
        <a href="{% url 'create' %}" class="btn btn-light">Agregar</a>
    </div>
    <div class="card-body">
        <h4 class="card-title">Libreria</h4>

        <table class="table">
            <thead>
            <tr>
                <th></th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Portada</th>
                <th>Fecha</th>
                <th>Caps</th>
                <th>Status</th>

            </tr>
            </thead>
            <tbody>
            {% for anime in animes %}
            <tr>
                <!--<td scope="row"></td>-->
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td scope="row"></td>
                <td>{{anime.name}}</td>
                <td>{{anime.description}}</td>
                <td>
                    <img src="{{anime.image.url}}" class="img-thumbnail" width="115" height="75">
                    <!-- class="img-thumbnail" width="124" height="136" -->
                </td>
                <td>{{anime.date}}</td>
                <td>{{anime.chapters}}</td>
                <td>{{anime.status}}</td>
                <td><a class="btn btn-success" href="{% url 'update' anime.id %}">Editar</a> |
                    <a class="btn btn-danger" href="{% url 'delete' anime.id %}">Eliminar</a>
                </td>

            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
</body>
</html>